@use "../abstracts" as *;


body {
    background-image: $bg-gradient;
    padding: 10rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template: auto / 3fr 2fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    main {
        grid-template: auto auto / 1fr;
        gap: 50px;
    }
}

.main-container,
.aside-container {
    background-color: $color-offwhite;
    height: 450px;
    max-width: 400px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.aside-container {
    gap: 10px
}

.die-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

@media screen and (max-width: 400px) {
    .die-container {
        gap: 10px;
    }
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    h1 {
        margin: 0 auto 1rem;
    }

    .table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}

.tenzie-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;

}

// @media screen and (max-width: 1025px) {
//     #root {
//         margin: 6rem 5vw;
//         min-width: unset;
//     }
// }

// @media screen and (max-width: 768px) {
//     #root {
//         min-width: 300px;        
//     }
// }